
{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
  <link href="/static/write.css" rel="stylesheet">

  <div style="padding-left:16px">
      <h2>Welcome To The Technical Tools {{username}}</h2>
      <b><p>This website was made by 2 coders and a hiker. over the span of a couple months. The purpose of this website Is not to be funny but can be used for educational purposes or decryption
      of specific stuff. You could also try html For yourself and have a blast.We also have a calculator which can be useful for some of those epeople who are bad at math and need some help</p></b>


  <img src="https://i.postimg.cc/R01Wvz95/download.png" width="900" height="500">
{% endblock %}


